<p-confirmDialog></p-confirmDialog>

<div class="d-flex align-items-center">
  <h1>Applications List</h1>
  <p-button
    styleClass="ms-2"
    icon="bi bi-plus-square-fill"
    size="large"
    [rounded]="true"
    [text]="true"
    pTooltip="Add a new application"
    [routerLink]="['/applications/add']">
  </p-button>
</div>
<hr class="w-100">

<p-card>
  <div class="row">
    <div class="col-12">
      <p-table [value]="applications" responsiveLayout="scroll" [lazy]="true" [paginator]="true"
        [showCurrentPageReport]="true" (onLazyLoad)="load($event)" [rows]="10" [(first)]="first"
        [totalRecords]="totalRecords" [loading]="isLoading" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
          <div class="d-flex">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search" (input)="search($event)" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              Name
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="description">
              Description
              <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="createdDate">
              Created Date
              <p-sortIcon field="createdDate"></p-sortIcon>
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-application>
          <tr>
            <td>{{application.name}}</td>
            <td>{{application.description}}</td>
            <td>{{application.createdDate}}</td>
            
            <td class="overflow-visible">
              <p-button
                icon="bi bi-pencil"
                pTooltip="Edit application details"
                tooltipPosition="bottom"
                [routerLink]="['/applications/edit', application.id]">
              </p-button>
              <p-button
                styleClass="ms-2"
                icon="bi bi-trash"
                severity="danger"
                pTooltip="Delete application"
                tooltipPosition="bottom"
                (onClick)="confirmToDelete(application)">
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
