@if (User.Identity is { IsAuthenticated: true })
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="nav-link text-dark" asp-page="/Account/Profile">@User.Identity.Name</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-page="/Account/SignOut">Sign In</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="nav-link text-dark" asp-page="/Account/SignIn" id="login-button">Sign In</a>
        </li>
    </ul>
}
