<div class="sidebar" [ngClass]="{minimized: isMinimized}">
  @if (!isMinimized) {
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
      <span class="fs-4">Planner</span>
    </div>
    <hr />
  }

  <ul class="nav nav-pills flex-column mb-auto"
    [ngClass]="{'text-center': isMinimized}">
    <li class="nav-item">
      <a class="nav-link"
        aria-current="page"
        [routerLink]="'/clients'"
        [routerLinkActive]="'active'"
        [ngClass]="{'border-bottom rounded-0': isMinimized}">
        <i class="bi bi-people-fill" [ngClass]="{'fs-3': isMinimized}"></i>
        
        @if (!isMinimized) {
          Clients
        }
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        [routerLink]="'/projects'"
        [routerLinkActive]="'active'"
        [ngClass]="{'border-bottom rounded-0': isMinimized}">
        <i class="bi bi-window-stack" [ngClass]="{'fs-3': isMinimized}"></i>

        @if (!isMinimized) {
          Projects
        }
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        [routerLink]="'/applications'"
        [routerLinkActive]="'active'"
        [ngClass]="{'border-bottom rounded-0': isMinimized}">
        <i class="bi bi-boxes" [ngClass]="{'fs-3': isMinimized}"></i>

        @if (!isMinimized) {
          Applications
        }
      </a>
    </li>
    <li>
      <span class="p-3" (click)="toggleMinimize()" role="none">
        @if (isMinimized) {
          <i class="bi bi-arrow-right fs-3"></i>
        }
        @else {
          <i class="bi bi-arrow-left fs-3"></i>
        }
      </span>
    </li>
  </ul>

  <hr />

  <div class="dropdown d-flex justify-content-center">
    <div class="d-flex align-items-center text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      <i class="bi bi-person-circle fs-3"></i>

      @if (!isMinimized) {
        <span class="ms-2">{{user?.email}}</span>
      }
    </div>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li>
        <button class="dropdown-item">Profile</button>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <button class="dropdown-item" (click)="logout()">Sign out</button>
      </li>
    </ul>
  </div>
</div>
