<p-confirmDialog></p-confirmDialog>

<div class="d-flex align-items-center">
  <h1>Clients List</h1>
  <p-button
    styleClass="ms-2"
    icon="bi bi-plus-square-fill"
    size="large"
    [rounded]="true"
    [text]="true"
    pTooltip="Add a new client"
    [routerLink]="['/clients/add']">
  </p-button>
</div>
<hr class="w-100">

<p-card>
  <div class="row">
    <div class="col-12">
      <p-table [value]="clients" responsiveLayout="scroll" [lazy]="true" [paginator]="true"
        [showCurrentPageReport]="true" (onLazyLoad)="load($event)" [rows]="10" [(first)]="first"
        [totalRecords]="totalRecords" [loading]="isLoading" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
          <div class="d-flex">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search" (input)="search($event)" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              Name
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="email">
              Email
              <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="phoneNumber">
              Phone Number
              <p-sortIcon field="phoneNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="createdDate">
              Created Date
              <p-sortIcon field="createdDate"></p-sortIcon>
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client>
          <tr>
            <td>{{client.name}}</td>
            <td>{{client.user?.email}}</td>
            <td>{{client.user?.phoneNumber}}</td>
            <td>{{client.createdDate}}</td>
            
            <td class="overflow-visible">
              <p-button
                icon="bi bi-pencil"
                pTooltip="Edit client details"
                tooltipPosition="bottom"
                [routerLink]="['/clients/edit', client.id]">
              </p-button>
              <p-button
                styleClass="ms-2"
                icon="bi bi-card-list"
                pTooltip="View client details"
                tooltipPosition="bottom"
                [routerLink]="['/clients/view', client.id]">
              </p-button>
              <p-button
                styleClass="ms-2"
                icon="bi bi-trash"
                severity="danger"
                pTooltip="Delete client"
                tooltipPosition="bottom"
                (onClick)="confirmToDelete(client)">
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
